[submodule "TMessagesProj/jni/libvpx"]
	path = TMessagesProj/jni/libvpx
	url = https://github.com/webmproject/libvpx
	shallow = true
	ignore = all
[submodule "TMessagesProj/jni/ffmpeg"]
	path = TMessagesProj/jni/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
	shallow = true
	ignore = all
[submodule "TMessagesProj/jni/dav1d"]
	path = TMessagesProj/jni/dav1d
	url = https://code.videolan.org/videolan/dav1d.git
	shallow = true
	ignore = all
[submodule "TMessagesProj/jni/boringssl"]
	path = TMessagesProj/jni/boringssl
	url = https://github.com/google/boringssl
	shallow = true
	ignore = all
[submodule "TMessagesProj/jni/td"]
	path = TMessagesProj/jni/td
	url = https://github.com/tdlib/td
	shallow = true
	ignore = all
[submodule "TMessagesProj/jni/whisper"]
	path = TMessagesProj/jni/whisper
	url = https://github.com/ggml-org/whisper.cpp
	shallow = true
	ignore = all
[submodule "TMessagesProj_PluginTor/jni/libevent"]
	path = TMessagesProj_PluginTor/jni/libevent
	url = https://github.com/libevent/libevent.git
	shallow = true
	ignore = all
[submodule "TMessagesProj_PluginTor/jni/tor"]
	path = TMessagesProj_PluginTor/jni/tor
	url = https://github.com/guardianproject/tor.git
	shallow = true
	ignore = all
[submodule "TMessagesProj_PluginTor/jni/openssl"]
	path = TMessagesProj_PluginTor/jni/openssl
	url = https://github.com/openssl/openssl.git
	shallow = true
	ignore = all
[submodule "TMessagesProj_PluginTor/jni/snowflake"]
	path = TMessagesProj_PluginTor/jni/snowflake
	url = https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake.git
	shallow = true
	ignore = all
[submodule "TMessagesProj_PluginTor/jni/lyrebird"]
	path = TMessagesProj_PluginTor/jni/lyrebird
	url = https://gitlab.torproject.org/tpo/anti-censorship/pluggable-transports/lyrebird.git
	shallow = true
	ignore = all
